<% include ../header%>

 	<div class="jumbotron transparency-plus">
		<h2><%=title%></h2>
		<a href="/contacts" class="btn btn-primary btn-lg active" role="button">Back</a>
    </div>

    <div class="jumbotron transparency-plus">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th></th>
	
				</tr>
			</thead>
			<tbody>
			<form action="/contacts/edit/<%= contact._id %>" method="post" role="form" name="form_contact" id="form_contact">
				<tr>
				    
					<td><input name="contact[name]" placeholder="Nome" class="form-control" value="<%= contact.name %>" /></td>
					<td><input name="contact[email]" placeholder="Email" class="form-control" value="<%= contact.email %>" /></td>
					<td><input type="submit" value="Edit" class="btn btn-primary"></td>
	
				</tr>
				</form>


			</tbody>
		</table>


		<p class="bg-success"><%= message%></p>


    </div>

<% include ../footer%>
