<% include ../header%>

 	<div class="jumbotron transparency-plus">
		<h2><%=title%></h2>
		<a href="/contacts/new" class="btn btn-primary btn-lg active" role="button">Add Contact</a>
    </div>

    <div class="jumbotron transparency-plus">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<!--<th>Email</th>-->
					<th>Status</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>

			<% mycontacts.forEach( function(contact) { %>
				<tr>
					<td><%= contact.name%></td>
					<!--<td><%= contact.email%></td>-->
					<td><span class="btn btn-sm btn-block btn-default" id="notify_<%= contact.email %>" name="notify_<%= contact.email %>">Off</span></td>
					<td> <a href="/contacts/edit/<%= contact._id %>"> Edit </a></td>
					<td> <a href="/contacts/delete/<%= contact._id %>">Del </a></td>
					<td> <a href="/chat/<%= contact._id %>"> Chat </a></td>
				</tr>
			<%})%>

			</tbody>
		</table>

    </div>

    
<% include notify_script %>
<% include ../footer%>
